<div class="form-container">
  <form id="createProductForm">
    <h3>Crea un nuevo producto</h3>
    <div class="form-group">
      <label for="product-title">Título</label>
      <input type="text" id="product-title" name="title" />
    </div>
    <div class="form-group">
      <label for="product-description">Descripción</label>
      <textarea rows="4" id="product-description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="product-price">Precio</label>
      <input type="number" id="product-price" name="price" />
    </div>
    <div class="form-group">
      <label for="product-stock">Stock</label>
      <input type="number" id="product-stock" name="stock" />
    </div>
    <div class="form-group">
      <label for="product-code">Código alfanumérico</label>
      <input type="text" id="product-code" name="code" />
    </div>
    <div class="form-group">
      <label for="product-thumbnail">URL de imagen</label>
      <input type="text" id="product-thumbnail" name="code" />
    </div>
    <div class="form-group">
      <label for="product-category">Categoría</label>
      <select id="product-category" name="category">
        <option value="">Sin seleccionar categoría</option>
        <option value="Relojes inteligentes">Relojes inteligentes</option>
        <option value="Notebooks">Notebooks</option>
        <option value="Celulares">Celulares</option>
        <option value="Auriculares">Auriculares</option>
        <option value="Cámaras">Cámaras</option>
      </select>
    </div>
    <div class="form-group">
      <label for="product-status">Estado</label>
      <select id="product-status" name="status">
        <option value="">Sin seleccionar estado</option>
        <option value="true">Verdadero</option>
        <option value="false">Falso</option>
      </select>
    </div>
    <div>
      <button type="submit" class="btn">Crear producto</button>
    </div>
  </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/createProduct.js"></script>