<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-title">
          <h1>Proyecto Final</h1>
          <h2>Santiago Agustín Jaime</h2>
        </div>
        <div class="navbar-links">
          <a href="/api/products">Productos</a>
          <a href="/api/products/realtimeproducts">Productos en tiempo real</a>
          <a href="/api/carts">Carritos</a>
        </div>
        <div></div>
      </nav>

    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>